:root{
  --PrimaryColorBackGround: #FDFBF7;
  --TodoColorBackGround: #EFECE5;
  --BasicWhite: #FFFFFF;
  --ColoBase: #D1C7BD;
  --ErrorColorBorder: #FF7A78;
  --ErrorBackGroundColor: #FFECEC;
  --BaseGrayColor: #787878;
}

body {
  background-color: var(--PrimaryColorBackGround);
}

h1,p,h3,h2 {
  margin: 0px;
}

p {
  color: var(--BaseGrayColor);
}

.React-Todo {
  background-color: var(--TodoColorBackGround);
  margin: 3.3rem 10.3rem;
  padding: 3.3rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.CSSBase {
  background-color: var(--BasicWhite);
  border: 0.11rem solid var(--ColoBase);
  border-radius: 0.5rem;
}

.padding{
  padding: 1.3rem 3.2rem;
}

/* --- ERROR MSG ---*/

.ErrorMSG {
  border: 0.1rem solid var(--ErrorColorBorder);
  background-color: var(--ErrorBackGroundColor);
  color: #E21F1C;
  padding: 1rem 3rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#ErrorMSG p {
  color: #E21F1C;
}

.error-message.visible {
  opacity: 1;
  transform: translate(-10px);
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.error-message.hidden {
  opacity: 0;
  transform: translateY(0);
  pointer-events: auto;
  transition: all 0.3s ease-in-out
}

/* --- Task --- */

#displayTasks{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#taskInformations{
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;
}

.Task {
  display: flex;
  justify-content: space-between;
}

/* --- New Task --- */

#NewTaskHolder{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

/* --- Buttons --- */

.TaskButtons{
  display: flex;
  gap: 20px;

}

.imgButton {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

#addTaskButton {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#buttonContainer {
  display: flex;
  justify-content: flex-end;
}

/* --- Inputs --- */

#informations {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

div input {
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

#description_Input {
  padding-bottom: 9rem;  
}