:root{
  --PrimaryColorBackGround: #FDFBF7;
  --TodoColorBackGround: #EFECE5;
  --BasicWhite: #FFFFFF;
  --ColoBase: #D1C7BD;
  --ErrorColorBorder: #FF7A78;
  --ErrorBackGroundColor: #FFECEC;
}

body {
  background-color: var(--PrimaryColorBackGround);
}

p {
  color: #787878;
}

.React-Todo {
  background-color: var(--TodoColorBackGround);
  margin: 3.3rem 10.3rem;
  padding: 3.3rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.CSSBase {
  background-color: var(--BasicWhite);
  border: 0.11rem solid var(--ColoBase);
  border-radius: 0.5rem;
}

.padding{
  padding: 1.3rem 3.2rem;
}

/* --- ERROR MSG ---*/

#ErrorMSG {
  border: 0.1rem solid var(--ErrorColorBorder);
  background-color: var(--ErrorBackGroundColor);
  color: #E21F1C;
  padding: 1rem 3rem;
}

#ErrorMSG p {
  color: #E21F1C;
}

/* --- Task --- */

#taskInformations{
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;
}

.Task {
  display: flex;
  justify-content: space-between;
}

/* --- Buttons --- */

.TaskButtons{
  display: flex;
  gap: 20px;

}

.imgButton {
  width: 1.5rem;
  height: 1.5rem;
}

/* .Buttons {

} */